body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: url('../assets/BGSleep.PNG');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  font-family: "Pixelify Sans", sans-serif;
  color: white;
}

.backButtonz {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    cursor: pointer;
    display: inline-block;
}

.backButtonz img {
    width: 50px;
    height: auto;
    display: block;
    transition: transform 0.2s ease;
}

.backButtonz:hover img {
  transform: scale(1.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 42px;
  color: white;
}

.sleep-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  width: 380px;
  margin-left: 100px;
}

.pixel-box {
  position: absolute;
  top: 10px;
  width: 100%;
  height: auto;
  z-index: 1;
}

form {
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: stretch;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 280px;
  font-size: 16px;
}

input, button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-family: "Pixelify Sans", sans-serif;
  width: 100%;
  box-sizing: border-box;
}

button {
  background: #10d610;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #417e44;
}

#result {
  margin-top: 25px;
  margin-left: 110px;
  font-size: 24px;
  font-weight: bold;
}
